[Unit]
Description=Frp Client Service
After=network.target

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
ExecStart=/root/service/frp/bin/frpc -c /root/service/frp/conf/conf.ini
ExecReload=/root/service/frp/bin/frpc reload -c /root/service/frp/conf/conf.ini
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target

